
<!-- base.html의 content block 내용만 바꿀 수 있게 -->

{% extends 'base.html' %}

{% block content %}

  <div class="sort_center" style="border-radius: 1rem; margin: 2rem;">
      <h2 class="content_font" style="font-size: 1rem;">〜(￣▽￣〜)  방명록 적어주셩  (〜￣▽￣)〜</h2>

      <form action="/accounts/hello_world/" method="post">
          {% csrf_token %}
          <div>
              <input type="text" name="hello_world_input" style="width: 600px; height: 200px;">
          </div>
          <br>
          <div>
              <input type="submit" class="btn btn-secondary btn-sm" value="POST">
          </div>
      </form>
      <br><br>

      <!-- hello_world_output이 있다면 아래의 태그들을 생성해줌 -->
      {% if hello_world_list %}
        {% for hello_world in hello_world_list %}
         <h6 class="content_font">
             {{ hello_world.text }}
         </h6>
        {% endfor %}
      {% endif %}
  </div>

{% endblock %}