.logo_font {
    font-family: 'Tourney', cursive;
}

.content_font {
    font-family: 'Nanum Gothic Coding', monospace;
    /*font-family: 'Gothic A1', sans-serif;*/
}

.footer_size {
    font-size: .6rem;
}

.sort_center{
    text-align: center;
}

.detail_size{
    font-size: .3rem;
}