
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
         .container div {
          width: 270px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          }

           .container img {
           width: 100%;
           border-radius: 8px;
           }
    </style>
    {% if article_list %}
    <div class="container">
        {% for article in article_list %}
        <a href="{% url 'articleapp:detail' pk=article.pk %}">
            <div>
                {% include 'snippets/card.html' with article=article %}
            </div>
        </a>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div class="sort_center"><h2>Empty</h2></div>
    {% endif %}

    {%include 'snippets/pagination.html' with page_obj=page_obj %}

    <div class="sort_center content_font">
        <a href="{% url 'articleapp:create' %}" class="btn btn-secondary col-3 mt-3 mb-3" style="margin-top: 5rem;">ADD</a>
    </div>

{% endblock %}